// Import Google font
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

@font-face {
  font-family: 'Populaire';
  src:  url('../assets/fonts/Populaire.otf'),
}

$populaire : 'Populaire', sans-serif;
$oatbook : #ffd739;
$oatbook-light : #fffef2;
$oatbook-highlight : #FFB906;
$red : #E36539;

::selection {
  background-color: $oatbook;
}
*:focus {
  outline: 0 none !important;
}

body {
  font-family: 'Varela Round', sans-serif;
  padding-top: 50px;
}

.feedback {
  position: fixed;
  bottom: 8px;
  right: 8px;
}

.navbar {
  .dropdown {
    margin-left: -15px;
  }
  .dropdown:hover {
    background-color: $oatbook;
  }
  h1.oatbook-logo {
    background: $oatbook;
    position: absolute;
    width: 55px;
    height: 55px;
    left: 50%;
    top: 0;
    margin: 0;
    padding: 0;
    margin-left: -25px;
  }
  .user {
    a {
      color: black;
    }
    p.username {
      margin: 8px 5px;
      float: left;
    }

    .caret {
      margin-top: 16px;
    }
  }
  .reportCard {
    margin: 10px;
  }
}
  .user:before {
    content: '';
    background: url('../assets/images/avatar.jpg') 0 0 no-repeat;
    background-size: 40px;
    height: 40px;
    width: 40px;
    border-radius: 20px;
    float: left;
    display: block;
  }




// Post Blocks
  .postBlock {
    border-bottom: 1px solid $gray-lighter;
    padding: 20px 0px;

    p {
      color: $gray-light;
    }

    .user {
      padding-top: 20px;
    }

    .count {
      font-size: 40px;
      line-height: 56px;
      display: block;
    }
  }
