// Import Google font
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

body {
  font-family: 'Varela Round', sans-serif;
  padding-top: 50px;
}

$oatbook : #ffd739;


.feedback {
  position: fixed;
  bottom: 5px;
  right: 5px;
}
.navbar-brand {
  font-size: 14px;
}
.user {
  padding: 5px;

  p.username {
    margin: 10px 5px;
    float: left;
  }
}
.user:before {
  content: '';
  background: url('../assets/images/avatar.jpg') 0 0 no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  float: left;
  display: block;
}
.navbar button {
  margin: 8px 10px 0px 10px;
}

// Post Blocks
  .postBlock {
    border-bottom: 1px solid $gray-lighter;
    padding: 20px 0px;

    p {
      color: $gray-light;
    }

    .user {
      padding-top: 20px;
    }

    .count {
      font-size: 40px;
      line-height: 56px;
      display: block;
    }
  }
