// Import Google font
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

@font-face {
  font-family: 'Populaire';
  src:  url('../assets/fonts/Populaire.otf'),
}

$populaire : 'Populaire', sans-serif;
$oatbook : #ffd739;
$oatbook-light : #fffef2;
$oatbook-highlight : #FFB906;
$white : #fff;
$black : #000;
$red : #E36539;
$red-darker : #c5471b;

::selection {
  background-color: $oatbook;
}
*:focus {
  outline: 0 none !important;
}

body {
  /* background: $oatbook-light; */
  font-family: 'Varela Round', sans-serif;
  padding-top: 50px;
}
a {
  color: $black;
  transition: all 0.5s ease 0s;
}
.btn {
  border-radius: 18px;
  padding: 8px 18px;
  transition: all 0.3s ease 0s;
}
.hide {
  display: none;
}
.container.page {
  background: #fff;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  margin-top: 20px;
}
p {
  font-size: 16px;
  line-height: 24px;
}


// Notification banner
.message {
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  z-index: 100;

  h3 {
    margin-top: 6px !important;
  }
  .count {
    font-size: 36px;
    line-height: 42px;
    display: block;
    color: $gray-dark;
  }
  .inner-msg {
    max-width: 960px;
    margin: 0 auto;
  }
  .alert {
    margin: 0px 10px;
  }
}



.feedback {
  position: fixed;
  bottom: 0px;
  right: 8px;
  color: $gray-light;
}

.navbar {
  background: $white;
  .dropdown.user {
    margin-left: -15px;
    padding: 6px 6px 8px 6px;
    float: left;

    .username {
      margin: 5px 5px 0px 0px;
      float: left;
    }
    a {
      color: $gray-light;
    }
    .btn {
      padding: 8px 10px;
    }
    .caret {
      margin-top: 10px;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid $gray-light;
    }
    a.myaccount {
      background: url('../assets/images/icons/icon-myaccount.svg') 12px 17px no-repeat;
      background-size: 20px;
      padding-left: 44px;
    }
    a.settings {
      background: url('../assets/images/icons/icon-setting.svg') 12px 17px no-repeat;
      background-color: inherit;
      background-size: 20px;
      padding-left: 44px;
      }
    a.myaccount:hover, a.settings:hover {
      background-color: #f5f5f5;
      }
  }
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: $oatbook;
  }

  .dropdown.user:hover {
    background-color: $oatbook;
    .caret {
      color: #fff !important;
      border-top: 6px solid #fff;
    }
  }
  h1.oatbook-logo {
    background: url('../assets/images/icons/oatbook-icon.png') 0px 0px no-repeat;
    position: absolute;
    width: 36px;
    height: 36px;
    left: 50%;
    top: 0;
    margin: 0;
    padding: 0;
    margin-left: -28px;
    text-indent: -100000px;
    margin-top: 10px;
  }
  h1.oatbook-logo:hover {
    background: url('../assets/images/icons/oatbook-icon.png') 0px -36px no-repeat;
  }
  li a {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .reportCard {
    margin: 10px;
    margin-bottom: 8px;
  }
}
.user:before {
  content: '';
  background: url('../assets/images/avatar.jpg') 0 0 no-repeat;
  background-size: 40px;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  float: left;
  display: block;
  margin: 2px 0px 0px 4px;
}




// Post Blocks
  .postBlock.list{
    border-bottom: 1px solid $gray-lighter;
    padding: 20px 0px;
    p {
      color: $gray-light;
    }
    .user {
      padding-top: 20px;
    }
    .count {
      font-size: 40px;
      line-height: 56px;
      display: block;
    }
  }

  .postBlock .content {
    .replies {
      line-height: 16px;
    }
    p {
      color: $gray-light;
      line-height: 28px;
      font-size: 16px;
      margin-bottom: 20px;
    }
    .user:before {
      content: '';
      background: url('../assets/images/avatar.jpg') 0 0 no-repeat;
      background-size: 60px;
      height: 60px;
      width: 60px;
      border-radius: 40px;
      margin-top: 20px;
      margin-left: 20px;
    }
  }

// Settings

  .checkbox-block {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e7e7e7;

    label {
      margin-right: 20px;
    }
    .remove {
      color: black;
      font-size: 20px;
      line-height: 16px;
      margin-left: 5px;
      text-decoration: none;
    }
    .btn-default:hover, .btn-default:hover .remove {
      color: $red;
      background-color: #fff !important;
    }
    h4 {
      margin-left: 20px;
    }
    b {
      color: $red;
    }
  }

// Account
.jumbotron.account {
  background: $oatbook;

  .user:before {
    background: url('../assets/images/avatar.jpg') 0 0 no-repeat;
    background-size: 96px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    margin-top: -10px;
    border: 4px solid #fff;
  }
}


// Login
h1.oatbook {
  background: url('../assets/images/icons/oatbook-badge.svg') 0px 0px no-repeat !important;
  display: block;
  height: 230px;
  width: 230px;
  text-indent: -20000%;
  margin-bottom: 40px;
  margin-top: -150px;
}
#inputEmail1 {
  background: #fff url('../assets/images/icons/icon-myaccount.svg') 8px 8px no-repeat !important;
  padding-left: 30px;
}
#inputPassword1 {
  background: #fff url('../assets/images/icons/icon-lock.svg') 8px 8px no-repeat !important;
  padding-left: 30px;
}



// Footer
footer {
  margin: 80px 0px;
  p {
    color: $gray-light;
  }
  h4.oatbook {
    background: url('../assets/images/icons/oatbook-icon.png') -30px 0px no-repeat;
    background-size: 60px;
    height: 30px;
    width: 30px;
    text-indent: -30000%;
  }
  h4.oatbook:hover {
    background: url('../assets/images/icons/oatbook-icon.png') -30px -30px no-repeat;
    background-size: 60px;
  }
}
.footer-alpha {
  position: fixed;
  background: $oatbook;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  border: none;
  border-radius: 0px;
  z-index: 100;
  .close {
    opacity: 0.8;
    font-size: 28px;
  }
  h4 {
    display: block;
    float: left;
    margin: 0px 10px;
  }
  p {
    line-height: 26px;
  }
  .alpha {
    background: #000;
  }
  a {
    color: $black;
  }
}

// Accordion
.panel-default {
  border: none;

  .panel-heading {
    background: none;
    padding: 25px 15px;
  }
  .panel-title {
    font-size: 20px;
  }
}
