
.graph {
  height: 350px;
  margin-bottom: 0px;
}
// Stats
.container-fluid.stats {
  background: #fff;
  border-bottom: 1px solid $gray-lighter;
  padding-bottom: 30px;
  padding-top: 30px;
}
.stats {
  h2 {
    font-size: 68px;
  }
  h3 {
    margin-top: 0px;
  }
  p.date {
    font-size: 16px;
    color: grey;
  }
  .month {
    font-size: 32px;
  }

  h2 span.ico {
    display: inline-block;
    margin-left: -20px;
    margin-right: 2px;
    content: '';
    width: 20px;
  }

  // Previous Reading
  .previousRead {
    h2 span.ico {
      background: url('../assets/images/icons/icon-INR.svg') 0 0 no-repeat;
      background-size: 20px;
      height: 28px;
    }
  }

  // Next Appointment
  .nextApp {
    h2 span.ico {
      background: url('../assets/images/icons/icon-nextApp.svg') 0 0 no-repeat;
      background-size: 20px;
      height: 20px;
    }
  }

  // Weekly dosages

  ul.weeklyDosages {
    float: left;
    width: 100%;
    display: block;
    margin-bottom: 24px;

    li {
      width: 11%;
      padding: 0px;
      margin: 0px;
      margin-left: 3.1%;
      height: 180px;
      float: left;

      .dose {
        background: $oatbook;
        border-radius: 4px;
        float: left;
        width: 100%;
      }
      .dose:hover {
        background: $oatbook-highlight;
      }
      .dose.missed {
        background: $red;
      }
      .dose.missed:hover {
        background: $red-darker;
      }
      .dose.h-100{
        height: 100%;
      }
      .dose.h-90 {
        height: 90%;
        margin-top: 18px;
      }

      label {
        width: 100%;
        text-align: center;
        margin-top: 2px;
      }
    }
    .weeklyDosages li:first-child {
      margin-left: 0%;
    }
  }
}

// Report Card
#reportCardModal {
  .graph {
    height: 250px;
  }
  .weeklyDosages {
    margin-top: 40px;
  }
  .weeklyDosages li .dose {
  }
  .stats {
    margin-bottom: 40px;

    h2 {
      font-size: 52px;
    }
    .month {
      font-size: 24px;
    }
    h3 {
      font-size: 20px;
    }
  }
}

table {
  font-size: 16px;
  color: $gray-light;

  td {
  vertical-align: middle !important;
  }
  td:first-child {
    max-width: 68px;
  }
  .date {
    font-size: 30px;

    sup {
      font-size: 16px;
    }
  }
  .month {
    font-size: 20px;
  }
  .reading {
    font-size: 30px;
    letter-spacing: -2px;
    color: $gray-dark;
    .dose {
      float: right;
      color: $gray-dark;
    }
  }
  .missed {
    font-size: 30px;
    letter-spacing: -2px;
    .dose {
      float: right;
      color: $gray-dark;
    }
    .dose:after {
      content: 'mg';
      font-size: 20px;
      letter-spacing: 0px;
      margin-left: 2px;
    }
  }
  .missed:after {
    content: ' ';
    background: url('../assets/images/icons/icon-missed.svg') 0 0 no-repeat;
    display: block;
    background-size: 20px;
    margin-right: 2px;
    height: 20px;
    width: 20px;
    float: right;
  }
  .reading:after {
    content: ' ';
    background: url('../assets/images/icons/icon-inr.svg') 0 0 no-repeat;
    display: block;
    background-size: 14px;
    margin-right: 0px;
    margin-top: 12px;
    height: 20px;
    width: 20px;
    float: right;
  }
}
.table-hover tr:hover {
  background-color: #fef0ba !important;
}
